*{
    background-color: black;
     width:100%;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color:white;
 }
 h1{
     text-align: center;
 }
 hr{
     border: 2px solid black;
 }
 header{
     background-color:rgb(8, 9, 9);
     padding: 10px;
   
 }
 .menu {
     list-style:none;
     width:30%;
     
 }
 .nav{
     display:inline;
     margin: 85px;
 }
 .nav a{
     color: white;
     text-decoration:none;
  }
 .menu a{
     float: left;
     width: 20%;
     background-color: black;
     padding-right: 100px;
     padding-bottom: 40px;
     padding-left:30px;
     text-align: center;
     text-decoration: none;
     color:white;
 
     
     
 }
 .intro{
   
     width: 80%;
     float:right;
    
     
     
 }
 
 .foot{
     background-color:black;
     color:white;
     padding: 5px;
     margin-top:250px;
     text-align: center;
   
     
 }
 